/TAGS
/compilesm
/select
/show
/smart
/test
/textgen
/compilesm-asan
/select-asan
/smart-asan
/test-asan
algorithms.lst
/data/rand128/rand128.txt
/data/rand16/rand16.txt
/data/rand2/rand2.txt
/data/rand250/rand250.txt
/data/rand32/rand32.txt
/data/rand4/rand4.txt
/data/rand64/rand64.txt
/data/rand8/rand8.txt
/results/
/bin/
/compile_commands.json
/sanitizer.log
/rb.sh
/lb.sh
/source/3rd/
/source/algos/new/
