body {
	font-family: 'Yantramanav', 'sans serif';
	font-size: 10px;
	font-weight: 400;
	color: #444444;
}

h1 {
	color: #444444;
	font-family: 'Dosis', 'sans serif';
	font-size: 40px;
	margin-bottom: 5px;
	line-height: 25px;
}

.subtitle {
	color: #444444;
	font-size: 30px;
	margin-bottom: 5px;
}

h2 {
	font-family: 'Yantramanav', 'sans serif';
	color: #888888;
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 5px;
	line-height: 10px;
}

h3 {
	color: #aaaaaa;
	font-size: 14px;
	margin-bottom: 3px;
	line-height: 8px;
	margin-left:5px;
	font-weight: 100;
}

.name {
	width: 400px;
	float:left;
    border-radius: 8px;
	border: 1px #888888 solid;
	padding:5px;
	padding-left:10px;
	margin-bottom:20px;
	margin-top:20px;
}

.caption {
	font-family: 'Yantramanav', 'sans serif';
	font-size: 14px;
	font-weight: 100;
	width: 980px;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
}

.caption_small {
	font-family: 'Yantramanav', 'sans serif';
	font-size: 14px;
	font-weight: 100;
	width: 420px;
	margin-left:40px;
	margin-right:40px;
}

.stats {
	width: 400px;
	float:left;
    border-radius: 8px;
	border: 1px #888888 solid;
	padding:5px;
	padding-left:10px;
	margin-bottom:20px;
	margin-top:20px;
}

.exp_table {
	width: 1000px;
	float:center;
}

.controlHorizontalFloat {
   float: left;
   width: auto;
   margin-left: 3em;
}

.clearHorizontalFloat {
    clear: both;
}

tr {
	border-top: #444444 1px solid;
}

td{
	border-top: #444444 1px solid;
	padding: 5px;
	vertical-align: bottom;
	text-align: center;
}

.length {
	background-color: #444444;
	font-size: 11px;
	text-align:center;
    color: #eeeeee;
}

.algo {
	background-color: #444444;
	font-size: 11px;
	text-align:center;
    color: #eeeeee;
    vertical-align:middle;
}

.statNames {
	background-color: #666666;
	font-size: 11px;
	text-align:center;
	color: #eeeeee;
	vertical-align:middle;
}

.didascalia {
	width: 70px;
	float: left;
}

.chart_title {
	font-family: 'Yantramanav', 'sans serif';
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	margin-top: 15px;
	margin-left: 40px;
	line-height: 10px;	
}

.chart_title_small {
	font-family: 'Yantramanav', 'sans serif';
	color: #444444;
	font-size: 14px;
	font-weight: 400;
	margin-top: 15px;
	margin-left: 40px;
	line-height: 10px;	
}

.search_time {
	padding: 2px;
	width: 40px;
	height: 15px;
	font-size: 11px;
	text-align:center;
    border-radius: 8px;
	margin-top:3px;
	margin-bottom:3px;
    color: #000000;
	vertical-align:middle;
}

.search_time_best {
	padding: 2px;
	background-color: #888888;
	width: 40px;
	height: 15px;
	font-size: 11px;
	font-weight: 400;
	text-align:center;
    border-radius: 8px;
	margin-top:3px;
	margin-bottom:3px;
    color: #ffffff;
	vertical-align:middle;
}

.pre_time {
	padding: 2px;
	background-color: #eeeeee;
	width: 40px;
	height: 10px;
	font-size: 9px;
	text-align:center;
    border-radius: 4px;
    color: #888888;
	vertical-align:middle;
}

.dif {
	padding: 2px;
	background-color: #eeeeee;
	width: 60px;
	height: 10px;
	font-size: 9px;
	text-align:center;
	vertical-align:middle;
    border-radius: 4px;
    color: #888888;
}

.search_stats {
	padding: 2px;
	width: 40px;
	height: 15px;
	font-size: 11px;
	text-align:center;
	border-radius: 8px;
	margin-top:3px;
	margin-bottom:3px;
	color: #000000;
	vertical-align:middle;
}

.search_stats_best {
	padding: 2px;
	background-color: Honeydew;
	width: 40px;
	height: 10px;
	font-size: 10px;
	text-align:center;
	border-radius: 4px;
	color: #333333;
	vertical-align:middle;
}

.search_stats_worst {
	padding: 2px;
	background-color: LavenderBlush;
	width: 60px;
	height: 10px;
	font-size: 10px;
	text-align:center;
	vertical-align:middle;
	border-radius: 4px;
	color: #333333;
}

.search_stats_none {
	padding: 2px;
	background-color: #ffffff;
	width: 60px;
	height: 10px;
	font-size: 10px;
	text-align:center;
	vertical-align:middle;
	border-radius: 4px;
	color: #000000;
}

.main_container {
	width:1020px;
}

.chart_container {
	width:1000px;
	height:430px;
	background-color: #fafafa;
	border: #eeeeee 1px solid;
    border-radius: 8px;
}

.chart_container_small {
	width:480px;
	height:330px;
	margin: 10px;
	background-color: #fafafa;
	border: #eeeeee 1px solid;
    border-radius: 8px;
    float:left;
}

.exp_chart {
	float:left;
	margin-top:0px;
}

.exp_chart_small {
}

.line {
	margin-top:5px;
	margin-right:5px;
	float:left;
	width:16px;
	height:2px
}

.label {
	float:left;
	width:16px;
	font-size:10px;
	color:#444444;
}
